:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

html {
	font-size: 62.5%; /* mobile media query = 1rem = 8
  px */
	/* font-size: 62.5%; above media query of 75em = 1rem = 10px */
	min-height: 100%;
	margin-top: 4rem;
}

.app {
	display: flex;
	flex-direction: column;
}

.app--web--title {
	margin-inline: auto;
	margin-bottom: 3rem;
}
